/postfix-srsd-*
/App-Postfix-SRSD-*
/releases
/local
*.pid
*.sock
*.secrets
.deps
a.out
*~
*.o
*.a
*.l[oa]
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
depcomp
install-sh
install-sh
libtool
missing
ltmain.sh
m4/lt*.m4
m4/libtool.m4
src/Makefile
src/postfix-srsd
src/stamp-h1
