#!/bin/sh
#
# PROVIDE: postfix-srsd
# REQUIRE: LOGIN postfix
# KEYWORD: shutdown

# Add the following lines to /etc/rc.conf to enable `postfix-srsd':
#
# postfix_srsd_enable="YES"
#

hostname=$(hostname)

. /etc/rc.subr

name="postfix_srsd"
rcvar="postfix_srsd_enable"

load_rc_config "$name"

: ${postfix_srsd_enable:="NO"}
: ${postfix_srsd_user:="nobody"}
: ${postfix_srsd_group:="nobody"}
: ${postfix_srsd_pidfile:="/var/run/postfix-srsd.pid"}
: ${postfix_srsd_socket:="/var/run/postfix-srsd.sock"}
: ${postfix_srsd_secrets:="/usr/local/etc/postfix/postfix-srsd.secrets"}

if [ -z "$postfix_srsd_domain" ]; then
    postfix_srsd_domain=$(hostname)
fi

pidfile=${postfix_srsd_pidfile}
command="/usr/local/sbin/postfix-srsd"
required_files="$postfix_srsd_secrets"
start_cmd="${name}_start"

postfix_srsd_start() {
    $command \
        --socket $postfix_srsd_socket \
        --user $postfix_srsd_user \
        --group $postfix_srsd_group \
        --domain $postfix_srsd_domain \
        --secrets $postfix_srsd_secrets \
        --pidfile $postfix_srsd_pidfile
}

run_rc_command "$1"
